:root{
  --pwc-fontFamily: "PwC Helvetica Neue",Arial,Sans-Serif; 
}

footer{
  color: #fff;
  background: #464646;
  padding: 40px 0;
  
  box-shadow: none;
}
ul li, ol li {
  margin-bottom: 8px;
  list-style: none;
  display: inline-block;
  margin-left: 2%;
}

p {
  font-size: .857rem;
  line-height: 1.7em;
  text-align:justify;
  font-family:  var(--pwc-fontFamily);
  
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.subMenuFooter{
  display: flex;
  justify-content: start;
  
}
.links{
  text-decoration: none;
  color: #fff;
}

.cont-footer__disclaimer {
  border-top: 1px solid #fff;
  margin-top: 40px;
  padding-top: 10px;
}

.footer-logo {
  background-image: url("../Img/PwC-logo-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 48px;
  margin-top: 5px;
  float: left;
  width: 72px;
  height: 55px;
}
.cont-footer__disclaimer p {
  display: flow-root;
  box-sizing: border-box;
}

